{% for comic in comics %}

    <a href="/comics/{{ comic.marvelId }}-{{ comic.title |slug|lower }}">
        <article class="cover-card">
            <img src="{{ comic.thumbnail ?: asset('assets/images/no-img.jpg') }}" alt="{{ comic.title }}">
            <div class="card-infos">
                <p>{{ comic.title }}</p>
                <p class="card-infos-date">{{ comic.date is defined and comic.date ? comic.date|date("Y-m-d") : 'unknown date' }}</p>
            </div>
        </article>
    </a>

{% else %}

    <p>Aucun comic trouvé.</p>

{% endfor %}
