{% extends 'base.html.twig' %}
{% block body %}

    {% if seriesByCreator.series is not empty %}

        <div class="details">
            <div class="details-main">
                <div class="details-info">

                    <h1>{{ seriesByCreator.creator }} worked on : </h1>

                    <div class="details-serie-list">

                        {% for serie in seriesByCreator.series %}

                            <div class="details-serie-card">
                                <a href="/series/{{ serie.marvelId }}-{{ serie.title|slug|lower }}">
                                    <img src="{{ serie.thumbnail ?: asset('assets/images/no-img.jpg') }}"
                                         alt="{{ serie.title }}"></a>
                                <div class="card-infos">
                                    <p>{{ serie.title }}</p>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    {% else %}

        {% include '_bad_research.html.twig' %}

    {% endif %}




{% endblock %}
