{% extends 'base.html.twig' %}
{% block body %}

    <div class="details">
        <div class="details-main">
            <div class="details-info">

                <h1>{{ seriesByCreator.creator }} worked on : </h1>
                <div class="details-serie-list">
                    {% if seriesByCreator.series is not empty %}
                        {% for serie in seriesByCreator.series %}

                            <div class="details-serie-card">
                                <a href="/series/{{ serie.marvelId }}-{{ serie.title|slug|lower }}">
                                    <img src="{{ serie.thumbnail ?: asset('assets/images/no-img.jpg') }}"
                                         alt="{{ serie.title }}"></a>
                                <p>{{ serie.title }}</p>
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
