{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}

    <!-- 📚 Liste des auteurs -->
    <div class="creators-list">
        {% for letter, creators in groupedAuthors %}
            <section class="letter-group" id="{{ letter }}">
                <h2 class="sticky-letter">{{ letter }}</h2>
                <ul>
                    {% for creator in creators %}
                        <li>
                            <a href="creators/{{ creator.marvelId }}-{{ creator.fullName |slug|lower }}">
                                {{ creator. fullName }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
    <!-- 🔠 Barre alphabétique -->
    <div class="pagination">
        {% for letter in alphabet %}
            {% if groupedAuthors[letter] is defined %}
                <a href="#{{ letter }}" class="has-creators">{{ letter }}</a>
            {% else %}
                <span class="no-creators">{{ letter }}</span>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
