{% for comic in comics %}
    <a href="/comics/{{ comic.marvelId }}-{{ comic.title |slug|lower }}">
        <div class="comic-card">
            <img src="{{ comic.thumbnail ?: asset('assets/images/comic-no-img.jpg') }}" alt="{{ comic.title }}">
            <h3>{{ comic.title }}</h3>
            <p>{{ comic.date|date("Y-m-d") ?: 'unknown date' }}</p>
        </div>
    </a>
{% else %}
    <p>Aucun comic trouvé.</p>
{% endfor %}
