{% extends 'base.html.twig' %}

{% block body %}

    <div class="comic-detail">
        <div class="comic-main">
            <!-- Image principale -->
            <div class="comic-image">
                <img src="{{ comic.thumbnail }}" alt="{{ comic.title }}">
            </div>

            <!-- Infos du comic -->
            <div class="comic-info">
                <h1>{{ comic.title }}</h1>
                <p class="description">{{ comic.description }}</p>
                <p>pages: {{ comic.pageCount }}</p>
                <p>date: {{ comic.date is defined and comic.date ? comic.date|date("Y-m-d") : 'unknown date' }}</p>

                {% if comic.creators is not empty and  comic.creators|length > 0 %}
                    <ul class="creators">
                        {% for creator in comic.creators %}
                            <li>
                                <span class="role">{{ creator.role|capitalize }}</span> :
                                {{ creator.fullName ?? 'Unknown' }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if comic.variants is not empty %}
                    <div class="comic-variants">
                        <h2>Variants</h2>
                        <div class="variant-list">
                            {% for variant in comic.variants %}
                                <div class="variant-card">
                                    <img src="{{ variant.thumbnail }}" alt="{{ variant.title }}">
                                    <p>{{ variant.title }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

        {% if comic.serie is not empty %}
            <h2>Serie</h2>
            <a href="/series/{{ comic.serie.marvelId }}-{{ comic.serie.title |slug|lower }}">
                <div class="comic-card">
                    <img src="{{ comic.serie.thumbnail ?: asset('assets/images/comic-no-img.jpg') }}"
                         alt="{{ comic.serie.title }}">
                    <h3>{{ comic.serie.title }}</h3>
                    <p>{{ comic.date is defined and comic.date ? comic.date|date("Y-m-d") : 'unknown date' }}</p>
                </div>
            </a>
        {% endif %}

        {% if comic.characters is not empty %}
            <div class="comic-variant">
                <h2>Characters</h2>
                <div class="variant-list">
                    {% for character in comic.characters %}
                        <div class="variant-card">
                            <a href="/characters/{{ character.marvelId }}-{{ character.name |slug|lower }}">
                                <img src="{{ character.thumbnail }}" alt="{{ character.name }}">
                                <p>{{ character.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>



{% endblock %}
