{% extends 'base.html.twig' %}

{% block body %}

    <section class="details">
        <div class="details-main">

            <h2 class="title-mobile">{{ comic.title }}</h2>
            <!-- Image principale -->
            <div class="details-image">
                <img id="main-cover" src="{{ comic.thumbnail?: asset('assets/images/no-img.jpg') }}"
                     alt="{{ comic.title }}">
                <div class="pages-dates">
                    {% if comic.pageCount > 0 %}
                        <p>pages: {{ comic.pageCount }}</p>
                    {% endif %}
                    <p>date: {{ comic.date is defined and comic.date ? comic.date|date("Y-m-d") : 'unknown date' }}</p>
                </div>
            </div>

            <!-- Infos du comic -->
            <article class="details-info details-info-reverse">
                <h2 class="title-desktop">{{ comic.title }}</h2>
                <div>
                    <p class="description">{{ comic.description }}</p>

                    {% if comic.creators is not empty and  comic.creators|length > 0 %}
                        <ul class="details-creators">
                            {% for creator in comic.creators %}
                                <li>
                                    <span class="role">{{ creator.role|capitalize }} </span>
                                    <a href="/creators/{{ creator.marvelId }}-{{ creator.fullName|slug|lower }}">: {{ creator.fullName }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {% if comic.variants is not empty %}
                    <div>
                        <h2>Variants cover</h2>
                        <div class="variant-list">
                            {% for variant in comic.variants %}
                                <div class="variant-card" data-cover="{{ variant.thumbnail }}">
                                    <img class="variant-cover" src="{{ variant.thumbnail }}"
                                         alt="{{ variant.title }}">
                                    <p>{{ variant.title }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </article>
        </div>

        {% if comic.serie is not empty %}
            <article>
                <h2>Serie</h2>
                <article class="details-serie-list">
                    <a class="details-serie-card"
                       href="/series/{{ comic.serie.marvelId }}-{{ comic.serie.title |slug|lower }}">
                        <img src="{{ comic.serie.thumbnail ?: asset('assets/images/no-img.jpg') }}"
                             alt="{{ comic.serie.title }}">
                        <div class="card-infos">
                            <p>{{ comic.serie.title }}</p>
                        </div>
                    </a>
                </article>
            </article>
        {% endif %}

        {% if comic.characters is not empty %}
            <article>
                <h2>Characters</h2>
                <div class="details-character-list">
                    {% for character in comic.characters %}
                        <a class="details-character-card"
                           href="/characters/{{ character.marvelId }}-{{ character.name |slug|lower }}">
                            <img src="{{ character.thumbnail  ?: asset('assets/images/character-no-img.jpg') }}" alt="{{ character.name }}">
                            <div class="card-infos">
                                <p>{{ character.name }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </article>
        {% endif %}
        <!-- Modal  -->
        <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modalImage">
            <div id="caption"></div>
        </div>
    </section>

    <script src="{{ asset('assets/js/modalImgComics.js') }}"></script>

    <script src="{{ asset('assets/js/changeMainCoverForVariantCover.js') }}"></script>

{% endblock %}
