{% extends 'base.html.twig' %}

{% block body %}

    <div class="details">
        <div class="details-main">
            <!-- Image principale -->
            <div class="details-image">
                <img src="{{ comic.thumbnail?: asset('assets/images/no-img.jpg')}}" alt="{{ comic.title }}">
            </div>

            <!-- Infos du comic -->
            <div class="details-info">
                <h1>{{ comic.title }}</h1>
                <p class="description">{{ comic.description }}</p>

                {% if comic.pageCount > 0 %}
                    <p>pages: {{ comic.pageCount }}</p>
                {% endif %}
                <p>date: {{ comic.date is defined and comic.date ? comic.date|date("Y-m-d") : 'unknown date' }}</p>

                {% if comic.creators is not empty and  comic.creators|length > 0 %}
                    <ul class="details-creators">
                        {% for creator in comic.creators %}
                            <li>
                                <span class="role">{{ creator.role|capitalize }} </span>
                                <a href="/creators/{{ creator.marvelId }}-{{ creator.fullName|slug|lower }}">: {{ creator.fullName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if comic.variants is not empty %}
                    <h2>Variants cover</h2>
                    <div class="variant-list">
                        {% for variant in comic.variants %}
                            <div class="variant-card">
                                <img src="{{ variant.thumbnail }}" alt="{{ variant.title }}">
                                <p>{{ variant.title }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>

        {% if comic.serie is not empty %}
            <h2>Serie</h2>
            <div class="details-serie-list">
                <a class="details-serie-card"
                   href="/series/{{ comic.serie.marvelId }}-{{ comic.serie.title |slug|lower }}">
                    <img src="{{ comic.serie.thumbnail ?: asset('assets/images/no-img.jpg') }}"
                         alt="{{ comic.serie.title }}">
                    <div class="card-infos">
                        <h3>{{ comic.serie.title }}</h3>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if comic.characters is not empty %}
            <h2>Characters</h2>
            <div class="details-character-list">
                {% for character in comic.characters %}
                    <a class="details-character-card"
                       href="/characters/{{ character.marvelId }}-{{ character.name |slug|lower }}">
                        <img src="{{ character.thumbnail }}" alt="{{ character.name }}">
                        <div class="card-infos">
                            <p>{{ character.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>



{% endblock %}
