{% extends 'base.html.twig' %}

{% block body %}
    <input type="text" id="search-bar" placeholder="Rechercher un comic..."/>

    <section class="comic-list" id="comic-list">
        {% include 'comics/_list.html.twig' with { comics: comics } %}
    </section>

    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': currentPage - 1})) }}">« Previous</a>
        {% endif %}

        {% for p in startPage..endPage %}
            {% if p == currentPage %}
                <span class="current">{{ p }}</span>
            {% else %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': p})) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if currentPage < totalPages %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': currentPage + 1})) }}">Next »</a>
        {% endif %}
    </div>

    <script>
        const searchInput = document.getElementById('search-bar');
        const comicList = document.getElementById('comic-list');

        searchInput.addEventListener('input', function () {
            const query = searchInput.value.trim();

            if (query === ''|| query.length < 3) {
                // Revenir à la liste initiale sans faire de fetch
                comicList.innerHTML = `{% include 'comics/_list.html.twig' with { comics: comics } %}`;
                return;
            }

            fetch(`/comics/search?title=${encodeURIComponent(query)}`)
                .then(res => res.text())
                .then(html => {
                    comicList.innerHTML = html;
                })
                .catch(err => {
                    console.error(err);
                    comicList.innerHTML = '<p>Erreur lors de la récupération des comics.</p>';
                });
        });
    </script>

{% endblock %}
