{% for character in characters %}

    <a href="/characters/{{ character.marvelId }}-{{ character.name |slug|lower }}">
        <article class="character-card">
            <img src="{{ character.thumbnail ?: asset('assets/images/character-no-img.jpg') }}"
                 alt="{{ character.name }}">
            <div class="card-infos">
                <p>{{ character.name }}</p>
            </div>
        </article>
    </a>

{% else %}

    <p>Aucun character trouvé.</p>

{% endfor %}

<div class="pagination">
    {% set queryParams = {} %}
    {% if searchName is defined and searchName != '' %}
        {% set queryParams = {'name': searchName} %}
    {% endif %}

    {% if totalPages > 0 %}
        {% if currentPage > 1 %}
            <a class="previous-button" href="{{ path(routeName, queryParams | merge({'page': currentPage - 1})) }}"
               data-page="{{ currentPage - 1 }}">«</a>
        {% endif %}

        {% for p in startPage..endPage %}
            {% if p == currentPage %}
                <span class="current">{{ p }}</span>
            {% else %}
                <a href="{{ path(routeName, queryParams | merge({'page': p})) }}" data-page="{{ p }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if currentPage < totalPages %}
            <a class="next-button" href="{{ path(routeName, queryParams | merge({'page': currentPage + 1})) }}"
               data-page="{{ currentPage + 1 }}">»</a>
        {% endif %}
        {% if currentPage < totalPages %}
            <a href="{{ path(routeName, queryParams | merge({'page':  totalPages})) }}" data-page="{{ totalPages }}">...Last</a>
        {% endif %}
    {% endif %}
</div>
